.ListItem {
    text-align: left;
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 30px;
}

.ListItem input {
    margin-left: 10px;
}

.ListItem .crossout { 
    text-decoration: line-through;
}